body{
    margin: 0;
    text-align: center;
    font-family: serif;
}

.top{
    background-color: #e4f9f5;
    padding-top: 50px;
}
.cloud1{
    position: absolute;
    right: 300px;
}
.cloud2{
    position: absolute;
    left: 300px;
}
.mountain{
    margin-top: 0;
}

h1{
    color: #66bfbf;
    font-size: 550%;
    margin: 50px auto 0 auto;
}
h2{
    color: #66bfbf;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
}
h3{
    color: #11999E;
    font-size:  1.5rem;
    font-weight: normal;
    /*margin: 0px auto auto auto;*/
}
.pro
{
    text-decoration: underline;
}
.ujjavalimg{
    height: 200px;
    margin-top: 50px;
}
.text{
    font-weight: bold;
    color: #40514E;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
.skill{
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 2;
}
.intro{
    width: 50%;
    margin: 50px auto 100px auto;
    line-height: 2;
}
.computer{
    border-radius: 50%;
    width: 25%;
    float: left;
    margin-right: 30px;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
/*
.mid{
    background-color: red;
    margin-left: 260px;
    height: 200px;
    width: 200px;
    border: solid 20px;
}*/
.last{
    background-color: #66bfbf;
    margin-top: 50px;
    padding: 20px 0px;
}
a{
    color: antiquewhite;
    margin: 10px 20px 10px 20px;
    text-decoration: none;
}
a:hover{
    color: rgb(177, 118, 51);
}
.lp{
    font-size: .75rem;
    padding: 2;
    margin-top: 20px ;
}